<%- include('boilerplate') %>
    <title>Edit Skill</title>
</head>
<body>
    <div class="main">
        <h1>Edit Skill</h1>
        <form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
            <p>Skill:</p>
            <input type="text" name="skill" value="<%= skill.skill %>">
            <p>Years:</p>
            <input type="text" name="years" value="<%= skill.years %>">
            <p>Bootcamp?:</p>
            <select name="bootCamp">
                <option value="true" <% if(skill.bootCamp){ %> selected <% } %>>True</option>
                <option value="false" <% if(!skill.bootCamp){ %> selected <% } %>>False</option>
            </select>
            <button type="submit">Update Skill</button>
        </form>
    </div>  
</body>
</html>