<%- include('boilerplate') %>
    <title>New Skill</title>
</head>
<body>
    <div class="main">
        <h1>New Skill</h1>
        <form action="/skills" method="POST" autocomplete="off">
            <p>Skill:</p>
            <input type="text" name="skill">
            <p>Years:</p>
            <input type="text" name="years">
            <p>Bootcamp?:</p>
            <select name="bootCamp">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <button type="submit">Save Skill</button>
        </form>
    </div>
</body>
</html>