<%- include('boilerplate') %>
    <title>Show Skill</title>
</head>
<body>
    <div class="main">
        <h3><%=  `I learned ${skill.skill} ${skill.years} years ago at ${skill.bootCamp ? 'General Assembly' : 'work'}.` %></h3>
        <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
            <button type="submit">
                Delete
            </button>
        </form>
        <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
    </div>
</body>
</html>