body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  height: 500px;
  width: 500px;
  background: #777;
  border-radius: 15%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:visited {
  color: #007bff;
}

a:hover {
  text-decoration: none;
}

#new-skill {
  font-size: 25px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.main > * {
  margin-left: 10px;
  margin-right: 10px;
}

.main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main form button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main a {
  margin-bottom: 10px;
}
